{% extends 'base.html' %}

{% load humanize %}
{% block content %}

<h3>Customer Details</h3>

<div class="card">
  <div class="card-header"><strong>
    Names:</strong>
    	{{ customer_record.first_name }} 
		{{ customer_record.last_name }}
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Email: </strong>{{ customer_record.email }}</p>

<p class="card-text">
<strong>Phone: </strong>{{ customer_record.phone }}
</p>

<p class="card-text">
<strong>User Car type: </strong>{{ customer_record.typeofvehicle }}</p>

<p class="card-text">
<strong>Location </strong>{{ customer_record.location }}</p>


<p class="card-text">
<strong>Gender: </strong>{{ customer_record.gender }}</p>

<p class="card-text">
<strong>Create At: </strong>{{ customer_record.timestamp|naturaltime }}</p>

<p class="card-text">
<strong>ID: </strong>{{ customer_record.id }}</p>
    
    
</div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete-record' customer_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update-record' customer_record.id %}" class="btn btn-primary">Update Record</a> 

<a href="{% url 'book-services-for-customer' customer_record.id %}" class="btn btn-info">Book Services For This Customer</a>

{% endblock %}